<h1>ToDo List App</h1>

<% @lists.each do |list| %>
  <h3><%= list.name %> <%= link_to "Edit", edit_list_url(list)%> | <%= link_to "Delete", list_url(list), :method => :delete %></h3>
  <ul>
    <% @list.tasks.each do |task| %>
    <li><%= task.name %></li>
    <% end %>
  </ul>

    <%= form_for [@list, @task] do |f| %>
    <%= f.label :name, "Enter New Task" %>
    <%= f.text_field :name %>
    <%= f.submit "Submit Task" %>
    <% end %>

<% end %>

<br>
<br>

<%= form_for @list do |form| %>
  <%= form.label :name, "Enter List" %>
  <%= form.text_field :name %>
  <%= form.submit "Submit List" %>
<% end %>